.visa-page {
    background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/rockcms/2022-10/long-embassy-lines-for-indians-returning-home-zz-221003-763eef.jpg);
    background-size: cover;
    height: 130vh;
}

.visa-page-title{
    padding: 2rem;
    color: #e8aa9b 
}

.visa-form {
    background: linear-gradient(90deg, rgba(58,92,131,0.8) 0%, rgba(118,154,190,0.8) 100%);
    margin: auto;
    width: 40%;
    border: 15px double black;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}

.visa-search-box {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.visa-submit-button{
    width: 20%;
    margin: auto;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.visa-submit-button:hover{
    background-color:#e8aa9b; 
    color: black;
    transition: all .4s ease-in-out;
    transform: scale(1.1);
}

.visa-error-text{
    text-align: center;
    color:#e98c4e;
    font-size: larger;
}

.visa-search-return {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

.visa-search-return-container{
    background-color: rgba(0, 0, 0, 0.625) ;
    margin-top:6rem;
    width: auto;
}

.visa-search-return-title{
    color: #e8aa9b;
    text-align: center;
    padding: 0.5rem;
}